[bumpversion]
current_version = 1.2.0
commit = True
tag = True
tag_name = v{new_version}
message = chore: bump version to v{new_version}

[bumpversion:file:src/__init__.py]

[bumpversion:file:src/app/__init__.py]

[bumpversion:file:README.md]
search = version-{current_version}-blue.svg
replace = version-{new_version}-blue.svg

[bumpversion:file:CHANGELOG.md]
search = ## [Unreleased]
replace = ## [Unreleased]

	## [{new_version}] - {now:%%Y-%%m-%%d}
